<div class="row">
  <div class="col-12">
<a href="/" class="btn btn-secondary float-right">
  <i class="fas fa-arrow-left"></i> Back
</a> 
</div>
</div>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <i class="fa fa-user-circle" style="font-size: 48px;"></i>
      </div>
      <form [formGroup]="SigninUser" class="add" autocomplete="off" (ngSubmit)="LoginUser()">
        <div class="mb-3">
            <input type="text" name="username" id="userName" required class="form-control fadeIn second" formControlName="userName" placeholder="UserName">
            <div class="form-text text-span" *ngIf="UserName.errors?.['required'] && (UserName.touched || UserName.dirty)">
              Username is required
            </div>
        </div>
        <div class="mb-3">
          <input type="password" id="password" name="Password" required class="form-control fadeIn third" formControlName="Password" placeholder="Password">
          <div class="form-text text-span" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
            Password is required
          </div>
        </div>
        <div *ngIf="loginError" class="text-danger">{{ loginError }}</div>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
      <div id="formFooter">
        <a class="underlineHover" routerLink="/RegisterUser">Don't have an account</a>
      </div>
    </div>
  </div>
  
